# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  [push]

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macos-latest,   r: 'release'}
          - {os: windows-latest, r: 'release'}
          - {os: ubuntu-latest,   r: 'devel', http-user-agent: 'release'}
          - {os: ubuntu-latest,   r: 'release'}
          - {os: ubuntu-latest,   r: 'oldrel-1'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      # Configuring ojodb access for github actions
      OJO_HOST: ${{ secrets.OJO_HOST }}
      OJO_PORT: ${{ secrets.OJO_PORT }}
      OJO_DEFAULT_USER: ${{ secrets.DEFAULT_OJO_USER }}
      OJO_DEFAULT_PASS: ${{ secrets.DEFAULT_OJO_PASS }}
      OJO_SSL_MODE: ${{ secrets.OJO_SSL_MODE }}
      # Encoded secrets
      OJO_SSL_CERT_BASE64: ${{ secrets.OJO_SSL_CERT_BASE64 }}
      OJO_SSL_ROOT_CERT_BASE64: ${{ secrets.OJO_SSL_ROOT_CERT_BASE64 }}
      OJO_SSL_KEY_BASE64: ${{ secrets.OJO_SSL_KEY_BASE64 }}
      #
      # OJO_SSL_CERT: ${{ github.workspace }}/certs/client-cert.pem
      # OJO_SSL_ROOT_CERT: ${{ github.workspace }}/certs/server-ca.pem
      # OJO_SSL_KEY: ${{ github.workspace }}/certs/client-key.pk8
      #
      R_KEEP_PKG_SOURCE: yes

    steps:
      - name: Decode secrets
        # run: |
        #   mkdir ${{ github.workspace }}/certs
          # echo "$OJO_SSL_CERT_BASE64" | base64 --decode > ${{ github.workspace }}/certs/client-cert.pem
          # echo "$OJO_SSL_ROOT_CERT_BASE64" | base64 --decode > ${{ github.workspace }}/certs/server-ca.pem
          # echo "$OJO_SSL_KEY_BASE64" | base64 --decode > ${{ github.workspace }}/certs/client-key.pk8
        #   ls -lS ${{ github.workspace }}/certs
        #   head -n 2 ${{ github.workspace }}/certs/*
        run: |
          echo "OJO_SSL_CERT=$(echo $OJO_SSL_CERT_BASE64 | base64 --decode)" >> $GITHUB_ENV
          echo "OJO_SSL_ROOT_CERT=$(echo $OJO_SSL_ROOT_CERT_BASE64 | base64 --decode)" >> $GITHUB_ENV
          echo "OJO_SSL_KEY=$(echo $OJO_SSL_KEY_BASE64 | base64 --decode)" >> $GITHUB_ENV

      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check

      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
